build
**/public/assets
**/node_modules/**

docker
Dockerfile*
LICENSE
package.json

*.lock.json
*.png
*.toml
*.lock
*.css
*.log
*.md
*.sql
*.min.css
**/*.svg

.DS_Store
.dockerignore
.editorconfig
.eslintcache
.eslintignore
.gitignore
.prettierignore
